* {
    padding: 0;
    marging: 0
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.navbar-header .navbar-brand {
    color: inherit;
}

.bootstrap-table {
    margin-top: 15px;
}

tr {
    background-color: #F8F8F8;
}

.bootstrap-table table {
    word-break: break-all;
    word-wrap: break-word;
}